.hide_reply_and_author blockquote {
    display: none;
}

.hide_reply_and_author div[data-o-mail-quote="1"] {
  color: gray !important;
}

.hide_reply_and_author span[data-o-mail-quote="1"] {
  color: gray !important;
}

.hide_reply_and_author pre {
    border: unset;
    background-color: unset;
}

.kanban_mail_full_screen{
  width: 100% !important;
}

.kanban_mail_inline_text{
  padding-left: 3px;
  font-weight: bold;
}

.kanban_mail_inline_text_static{
  padding-left: 3px;
  color: gray !important;
}

.o_list_renderer div.o_boolean_toggle .form-check-input{
  height:20px;
}
